<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">

<!--    根据id更新分类/update category by id-->
    <update id="updateCategory" parameterType="com.sky.entity.Category">
        update category
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="sort!=null">
                sort = #{sort},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}


    </update>

<!--    分类的分页查询/category pagination query-->
    <select id="paginationQuery" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort asc, create_time desc
    </select>

    <select id="selectByType" resultType="com.sky.entity.Category">
        select * from category
        <if test="type!=null">
            where type = #{type}
        </if>
    </select>
</mapper>